.Login {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  
  background: rgb(9, 76, 114);
  background: -webkit-radial-gradient(bottom, ellipse cover, rgb(9, 76, 114) 0%, rgb(1, 41, 63) 100%);
  background: -webkit-radial-gradient(ellipse at bottom, rgb(9, 76, 114) 0%, rgb(1, 41, 63) 100%);
  background: -webkit-radial-gradient(bottom, ellipse, rgb(9, 76, 114) 0%, rgb(1, 41, 63) 100%);
  background: radial-gradient(ellipse at bottom, rgb(9, 76, 114) 0%, rgb(1, 41, 63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#094c72', endColorstr='#01293f', GradientType=1);
}

.Login-panel {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  margin: 1em 1em 0 1em;
  padding: 2em 0;
  border-radius: 1rem;

  img {
    width: 30vw;
    max-width: 200px;
  }

  p {
    margin-bottom: 3em;
  }
}

@function box-shadow($stars) {
  $bxshadow: ();
  @for $i from 1 to $stars {
    $bxshadow: append($bxshadow, (random(2000) + 0px) (random(2000) + 0px) rgba(255, 255, 255, 0.3), comma);
  }
  @return $bxshadow;
}

$bxshadow-large: box-shadow(300);
$bxshadow-medium: box-shadow(500);
$bxshadow-small: box-shadow(800);

.stars.large {
  height: 3px;
  width: 3px;
  border-radius: 1.5px;
  background: transparent;
  box-shadow: $bxshadow-large;
}

.stars.medium {
  height: 2px;
  width: 2px;
  border-radius: 1px;
  background: transparent;
  box-shadow: $bxshadow-medium;
}

.stars.small {
  height: 1px;
  width: 1px;
  border-radius: 0.5px;
  background: transparent;
  box-shadow: $bxshadow-small;
}
